@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
	body {
		font-family: "Open Sans", sans-serif;
		@apply text-gray2;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Nunito Sans", sans-serif;
		@apply tracking-wide;
	}

	.home__hero {
		@apply bg-heroBg bg-no-repeat bg-contain bg-bottom md:bg-right;
	}

	@media screen and (min-width: 767px and max-width: 1023px) {
		.home__hero {
			background-size: 70%;
		}
	}
}
