@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
	html {
		overflow-x: hidden;
	}
	body {
		font-family: "Poppins", sans-serif;
		@apply text-gray2;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Poppins", sans-serif;
		/* @apply tracking-wide; */
	}

	.home__hero {
		@apply bg-heroBg bg-no-repeat bg-cover bg-right-top;
	}

	@media screen and (min-width: 767px and max-width: 1023px) {
		.home__hero {
			background-size: 70%;
		}
	}

	.aesthetic-sub,
	.womenhealth-sub,
	.mental-health-sub,
	.services-sub,
	.weight-loss-sub,
	.integrative-medicine-sub,
	.provider-sub {
		display: none;
	}

	.aesthetic:hover .aesthetic-sub,
	.mental-health:hover .mental-health-sub,
	.womenhealth:hover .womenhealth-sub,
	.services:hover .services-sub,
	.weight-loss:hover .weight-loss-sub,
	.integrative-medicine:hover .integrative-medicine-sub,
	.provider:hover .provider-sub {
		display: block;
	}
	/* .mental-health:hover .mental-health-sub {
		display: block;
	} */

	.body-sub {
		display: none;
	}

	.body-sculpt {
		display: none;
	}

	.face:hover .face-sub {
		display: block;
	}

	.face-sub {
		display: none;
	}

	.filler:hover .filler-sub {
		display: block;
	}

	.body-sub:hover .body-sculpt {
		display: block;
	}

	.body:hover .body-sub {
		display: block;
	}
}
